@model IEnumerable<LibraryApplication.Models.Book>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Writer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Summary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Publisher)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PublishedDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <!--@Html.DisplayFor(modelItem => item.Title)-->
            @item.Title
        </td>
        <td>
            @item.Writer
        </td>
        <td>
            @item.Summary
        </td>
        <td>
            @item.Publisher
        </td>
        <td>
            @item.PublishedDate
        </td>
        <td>
            <a href="/Home/Edit/@item.BookId">수정</a>
            <!--@Html.ActionLink("Edit", "Edit", new { id=item.BookId })--> |
            @Html.ActionLink("Details", "Details", new { id = item.BookId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.BookId })
        </td>
    </tr>
}

</table>
